<h1>Flats</h1>

<ul>
  <% @flats.each do |flat| %>
    <%= link_to flat_path(flat["id"]) do %>
      <li>
        <%= flat["name"] %> - <%= flat["price"] %> <%= flat["priceCurrency"] %>
      </li>
    <% end %>
  <% end %>
</ul>
